<div class="content">
    {% if site.background %}
    <img src="{{ site.background }}" id="fullscreen" alt="decorative site background">
    {% endif %}

    {% if site.avatar %}
        <img src="{{ site.avatar }}" id="avatar" alt="Adam DJ Brett profile photo">
    {% endif %}

    <h1>{{ site.title }}</h1>
    <h3>{{ site.description }}</h3>
    <h3>For more about see <a href="https://adamdjbrett.com" title="Adam DJ Brett Official" target="_blank" rel="noopener">adamdjbrett.com</a>.</h3>
</div>
